*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.son{
    position: relative;
    width: 100%;
    height: 100vh;
    background: lightgray;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.animatedinfiniteheartBeat{
    border-radius: 10px;
}
nav ul li a:hover{
    color: blueviolet;

}
.tut{
    margin-left: 8%;
    margin-top: 15%;
}
.tut h1{
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
}

.tut p{
    color: #555;
    line-height: 22px;
}
.tut a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left  1s;
    border-radius: 5px;
}
.images:hover .bl{
    bottom: 40px;
}
.tut h1::after{
    content: '';
    animation: changetext 13s infinite linear ;
    color: blueviolet;
}
.gol{
    display: inline-block;
    align-items: center;
    margin-left: 10%;
    justify-content: space-between;
}
@keyframes changetext{
    0%{content: "Coder";}
    40%{content: "Web Developer";}
    80%{content: "Technophile";}
    30%{content: "Eager";}
}